{{!-- {{modalData}} --}}
<div class="backdrop">
  {{#if backdrop_path}}
    <img
      src="https://image.tmdb.org/t/p/original{{backdrop_path}}"
      alt="film-poster"
    />
  {{/if}}

</div>
<button class="modalcontrol-btn controlRight" data-modalcontrol="right"><svg>
    <use href="#arrow-right-circle"></use>
  </svg></button>
<button class="modalcontrol-btn controlLeft" data-modalcontrol="left"><svg>
    <use href="#arrow-left-circle"></use>
  </svg></button>
<button class="closeModal-btn" data-modalcontrol="close">
  <svg>
    <use href="#icon-cross-close"></use>
  </svg>
</button>
<div class="modalLayout">

  <div class="modalContent" data-id={{id}}>
    <div class="modalContentHero">
      {{#if homepage}}
        <h2 class="film-title">
          <a
            href="{{homepage}}"
            target="_blank"
            rel="noopener noreferrer"
          >{{title}}</a>
        </h2>
      {{else}}
        <h2 class="film-title">{{original_title}} </h2>
      {{/if}}

      <div class="posterImg-wrap">
        {{#if poster_path}}
          <img
            src="https://image.tmdb.org/t/p/original{{poster_path}}"
            alt="{{original_title}} {{title}}"
          />
        {{else}}
          <img
            src="src/assets//fallbackForPreview.png"
            alt="{{original_title}} {{this.title}}"
            data-filmid={{this.id}}
          />
        {{/if}}
      </div>

    </div>

    <div class="filmInfo">
      <p class="film-info">Budget: {{verifyAvailability budget}}</p>
      <p class="film-info">{{formatDate release_date}}</p>
      {{#if belongs_to_collection}}
        <p class="film-info">Collection of:
          {{verifyAvailability belongs_to_collection.name}}</p>
      {{/if}}
      <p class="film-info">Duration: {{verifyAvailability runtime}} min</p>
      <p class="overview"> Overview: {{verifyAvailability overview}}</p>
      <p> popularity: {{verifyAvailability popularity}}</p>
      <p>Tagline: {{verifyAvailability tagline}}</p>
      <p>Original title: {{verifyAvailability original_title}}</p>

      {{#if vote_average}}
        <p>Voted as {{vote_average}} from {{vote_count}} votes</p>
      {{/if}}
      {{#if genres}}
        <div class="genres">
          <h3 class="modalgenres-title">Genres:</h3>
          <ul class="modalgenres-list">
            {{#each genres}}
              <li
                data-genre={{this.id}}
                class="modalgenres-item"
              >{{this.name}}</li>
            {{/each}}
          </ul>

        </div>
      {{/if}}
      <div class="production">
        {{#if production_companies}}

          <div class="production-companies">
            <h3 class="production-title">Production companies:</h3>
            <ul class="productionCompany-list">
              {{#each production_companies}}
                <li data-prodCompany={{this.id}} class="productionCompany-item">
                  {{!-- <p
                class="logo-text"
              >
                {{! should be hover text i think }}
                {{this.name}}
              </p> --}}
                  <div class="logo-wrap">
                    {{#if logo_path}}
                      <img
                        src="https://image.tmdb.org/t/p/w300/{{logo_path}}"
                        alt="{{this.name}}"
                        class="productionCompany-logo"
                      />
                    {{else}}
                      <h3 class="productionCompanyName">{{this.name}}</h3>
                    {{/if}}

                  </div>
                </li>
              {{/each}}
            </ul>

          </div>
        {{/if}}

        {{#if production_countries}}
          <div class="production-countries">
            <h3 class="production-title"> Production country:</h3>

            <ul class="productionCountry-list">
              {{#each production_countries}}
                <li class="productionCountry-item"><p
                    class="productionCountry-itemText"
                  >
                    {{this.name}}
                  </p>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="modalBtnBlock">
    <button class="modalBtnBlock-btn" data-modalbtn="queque">Add to queque</button>
    <button class="modalBtnBlock-btn" data-modalbtn="favorites">Add to favorites</button>
  </div>
</div>
{{!-- {{/modalData}} --}}