{{! <ul class="gallery"> }}
{{#each movies}}
  <li class="gallery-item">
    {{#if this.title}}
      <h3 class="gallery-title">{{this.title}} </h3>
    {{else}}
      <h3 class="gallery-title"> {{this.original_title}}</h3>
    {{/if}}
    {{#if this.release_date}}
      <p class="gallery-year">{{formatDate this.release_date}}</p>
    {{/if}}
    <div class="img-wrap">
      {{#if this.poster_path}}
        <img
          src="https://image.tmdb.org/t/p/w300{{this.poster_path}}"
          alt="{{this.title}}"
          data-filmid={{this.id}}
        />
      {{else}}
        <img
          src="src/assets//fallbackForPreview.png"
          alt="{{this.title}}"
          data-filmid={{this.id}}
        />
      {{/if}}
    </div>

    <ul class="gallery-item_genres">
      {{{genresGenerator this.genre_ids}}}
    </ul>
  </li>
{{/each}}

{{! </ul> }}