<ul class="gallery">
  {{#each movies}}
    <li class="gallery-item" data-id={{this.id}}>
      <h3 class="gallery-title">{{this.title}} or {{this.original_title}}</h3>
      <div class="img-wrap">
        {{#if this.poster_path}}
          <img
            src="https://image.tmdb.org/t/p/w300{{this.poster_path}}"
            alt="{{this.title}} "
          />
        {{else}}
          <img src="src/assets//fallbackForPreview.png" alt="{{this.title}} " />
        {{/if}}
      </div>

      <ul class="gallery-item_genres">
        {{{genresGenerator this.genre_ids}}}
      </ul>
    </li>
  {{/each}}

</ul>